

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<a href="#!/category/{{category.id}}/post/{{post.pk}}/add_comment/" > Add comment </a>

<body>


<div ng-controller="PostCtrl">
  <!--{{Posts}}-->

  <div style="background-color:beige ; width: 100% ; height: 400px; padding-top: 20px">
    <p><h3> &emsp;{{ Posts.post_title }}</h3></br>
    <p>     &emsp;   {{Posts.post_text}}</p>

    <br>
    <br>
    &emsp; Author: <a href=""> {{ user.username}} </a>  <br>
    &emsp; Likes : {{ Posts.num_of_like }} | Dislikes : {{ Posts.num_of_dislike }}<br>
    &emsp; Published date : {{ Posts.created_date | date}} <br>
    &emsp; Updated date : {{ Posts.updated_date | date }}
    <br> <br> <br>
    &emsp;
    <b><a href="#!/category/{{category.id}}/post/{{post.pk}}/" ng-click="likePost()">  Like </a> |
      <a href="#!/category/{{category.id}}/post/{{post.pk}}/" ng-click="dislikePost()" > Dislike </a>

      | <a href="#!/category/{{category.id}}/post/{{post.pk}}/update/" > Update </a>  |
      <a href="#!/category/{{category.id}}/post/{{post.pk}}/" ng-click="deletePost()">  Delete </a>

    </b>
    </p>

  </div>



  <h4><p style="color: darkgrey">&emsp;<b> Comments </b></p> </h4>
  <hr>
  <div ng-repeat="cmt in Comments.results">
    <div ng-if="cmt.post_of_comment == Posts.id">

      &emsp; {{cmt.comment_text}} <br> <br>
      &emsp; Likes: {{cmt.number_of_like}}  |  Dislikes: {{cmt.number_of_dislike}} <br>
      &emsp; Created date: {{cmt.created_date | date}}<br>
      &emsp; Updated date: {{cmt.updated_date | date}}<br>
      <div ng-repeat="users in Users.results">
        <div ng-if="users.id == cmt.author">
          &emsp; Commented by: <a href="">{{users.username}} </a><br>

          &emsp; <a href="#!/category/{{category.id}}/post/{{post.pk}}/" ng-click="likeComment(cmt.id)"> Like </a> |
          <a href="#!/category/{{category.id}}/post/{{post.pk}}/" ng-click="dislikeComment(cmt.id)"> Dislike </a> |
          <a href="#!/category/{{category.id}}/post/{{post.pk}}/comment/{{cmt.id}}/update/" > Update </a> |
          <a href="#!/category/{{category.id}}/post/{{post.pk}}/" ng-click="deleteComment(cmt.id)"> Delete </a>

          <hr>

        </div>
      </div>




    </div>
  </div>


</div>




</body>
