
<div ng-controller="UpdateCommentCtrl">

    <form class="form-horizontal" style="padding-top: 50px; padding-right: 900px">

        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">Comment Text </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="content" placeholder="text" ng-model="content">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="update_comment(content)">Save</button>
            </div>
        </div>
    </form>




</div>