

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>



<h3><p style="color: darkgrey">&emsp;<b> CATEGORIES </b></p></h3>
<div ng-controller="HomeCtrl">
    <div ng-repeat="cat in Categories.results">
        <ul>

               <a href="#!/category/{{cat.id}}">{{cat.title}}</a>   <a href="" ng-click="deleteCategory(cat.id)"> X </a>

        </ul>


    </div>



    <hr/>
    <h3><p style="color: darkgrey">&emsp;<b> POSTS </b></p></h3>

    <div ng-repeat="pst in Posts.results">
        <p class="bg-warning">  &emsp; &emsp;    {{ pst.post_text |limitTo:"300" }} <a href="#!/category/{{pst.post_of_category}}/post/{{pst.id}}" > read more ... </a>
        </p>
        <!--<p>{{pst.post_title}} <a href="#!/category/{{pst.post_of_category}}/post/{{pst.id}}" > read more ...</a> </p>-->

    </div>
</div>
<hr/>


</body>

