
<div ng-controller="UpdatePostCtrl">

    <form class="form-horizontal" style="padding-top: 50px; padding-right: 900px">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Post Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder="title" ng-model="title">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">Post Text </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="content" placeholder="text" ng-model="content">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="update_post(title,content)">Save</button>
            </div>
        </div>
    </form>


</div>