

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<a href="#!/category/{{category.id}}/add_post/" > Add post </a>

<body>

<div ng-controller="CategoryCtrl">

    <div ng-repeat="post in Posts.results">
        <div ng-if="post.post_of_category == category.id">

            <h3><p style="color:darkgrey"> &emsp;{{post.post_title}} </p> </h3>

             <p class="bg-warning">  &emsp;  {{ post.post_text |limitTo:"300" }} <a href="#!/category/{{category.id}}/post/{{post.id}}" > read more ... </a>
             </p>
        </div>
    </div>
</div>





</body>
