<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        ul,li{list-style-type: none;}
    </style>
</head>


<!--<div ng-view ></div>-->


<body ng-app="myApp">
<!--{{Posts}}-->

<!--{{ Categories}}-->

<div style="background-color: #333333 ; width: 100% ; height: 120px" ng-controller="AppCtrl">
    <br>
    <h2><b style="color: chocolate; padding-left: 25px"> MY BLOG </b></h2>
    <p style="color: white">
        <a href="#!/index" style="color:white ; padding-left: 25px "> Home </a>
        <a href="" style="color:white ; padding-right: 25px  " ng-click="logout()" >Logout</a>
        | <a href=" " style="color:white ;"> Profile </a>
        | <a href="#!/add_category/" style="color:white ;"> Add Category</a>|
        <!--| <a href="#!/category/:id/add_post/" style="color:white ;"> Add Post</a>-->
        | <a href="#!/register/" style="color:white ;">Sign in</a> |
        <a href="#!/login/" style="color:white ;" >Login</a>




    </p>
</div>


<ng-view></ng-view>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="category/category.js"></script>
<script src="post/post.js"></script>
<script src="home/home.js"></script>
<script src="login/login.js"></script>
<script src="sign/sign.js"></script>
<script src="add_category/add_category.js"></script>
<script src="add_post/add_post.js"></script>
<script src="add_comment/add_comment.js"></script>
<script src="update_post/update_post.js"></script>
<script src="update_comment/update_comment.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>


</body>
</html>
