

<head>

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </head>
</head>




<div ng-controller="RegisterCtrl">

    <form class="form-horizontal" style="padding-top: 50px; padding-right: 900px">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="email">
            </div>
        </div>


        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="submitForm(username,email,password)">Sign in</button>
            </div>
        </div>
    </form>

</div>





