



<div ng-controller="AddCategoryCtrl">

    <form class="form-horizontal" style="padding-top: 50px; padding-right: 900px">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder="Title" ng-model="title" >
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="add_cat(title)">Save</button>
            </div>
        </div>
    </form>
    {{PostDataResponse}}


</div>